/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h1.post_title
{
	text-align: center;
	padding-bottom: 10px;
	font-weight: bold;
	border-bottom: solid 1px #ddd;

	&:empty:before
	{
		content: attr(placeholder);
		display: block; /* For Firefox */
		font-style: italic;
		color: rgba(0,0,0,0.6);
	}
}

div.post_information
{
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	padding: 10px;
	clear: both;
}

div.post_excerpt_information
{
	font-size: 13px;
	color: rgba(0, 0, 0, 0.3);
	margin-top: 10px;
}

td#draft_posts
{
	width: 40%;
	vertical-align: top;

	h2
	{
		margin-top: 0;
	}

	h3
	{
		margin-bottom: 0;
	}

	div#draft_list
	{
		border: solid rgba(0, 0, 0, 0.3) 1px;
		padding: 10px;
		margin-left: 20px;
	}

	div.post_excerpt_information
	{
		margin-top: 0;
	}
}

input.datetime_picker
{
	cursor: pointer;
}

.editable
{
	&:focus
	{
		outline: none;
	}
}

div.post_body
{
	width: calc(100% - 80px);
	margin: 0 auto;
	height: auto;
	min-height: 100%;
}

div.post_body.editable:after
{
	top: 0;
}

h1.post_title.editable
{
	margin-bottom: 20px;
	&:after
	{
		position: relative;
		text-align: center;
	}
}

/* Specify our own scrolling container */
div.scrolling-container {
	height: 100%;
	min-height: 100%;
	overflow-y: auto;
}

.ql-editor
{
	overflow-y: visible;

	p
	{
		img
		{
			float: left;
			max-width: 30%;
			margin-right: 15px;
		}
	}

	p.ql-align-right
	{
		img
		{
			float: right;
			max-width: 30%;
			margin-left: 15px;
		}
	}

	p.ql-align-center
	{
		img
		{
			float: inherit;
			max-width: 100%;
		}
	}

	p.ql-align-justify
	{
		img
		{
			float: inherit;
			max-width: 100%;
		}
	}
}
