// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.post_subscriptions
{
	float: right;
	width: 40%;

	h2
	{
		margin-top: 0;
		padding-top: 0;
	}

	table
	{
		width: 100%;
	}
}

div.blog_subscriptions
{
	width: 40%;

	h2
	{
		margin-top: 0;
		padding-top: 0;
	}

	table
	{
		width: 100%;
	}
}
