<p>
	Welcome! You'll now begin receiving emails whenever a post is published on
	this blog. You should receive a confirmation email soon, along with an
	unsubscribe link. Not that you'll need it.

	Thank you for your support!
</p>
