<table class = "post">
	<tr>
		<td class = "post_title"><h1><%= @post.title %></h1></td>
	</tr>

	<tr>
		<td class = "post_body"><%= raw @post.body %></td>
	</tr>

	<tr>
		<td class = "post_information">
			Written on <%= @post.published_at.strftime("%B %d, %Y at %I:%M %p %Z") %> by <%= @post.author.send(Proclaim.author_name_method) %>
		</td>
	</tr>
</div>
