<table class = "post">
	<tr>
		<td class = "post_body"><%= @comment.body %></td>
	</tr>

	<tr>
		<td class = "post_information">
			Written on <%= @comment.created_at.strftime("%B %d, %Y at %I:%M %p %Z") %> by <%= @comment.author %>
		</td>
	</tr>
</div>
