/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

div.post_information
{
	font-size: 13px;
	color: rgba(0, 0, 0, 0.3);
	margin-top: 10px;
}
