<!DOCTYPE html>
<html>
<head>
  <title>Bespoke</title>
  <%= stylesheet_link_tag    "bespoke/application", media: "all" %>
  <%= javascript_include_tag "bespoke/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
